<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <!--ion-button (click)="toggleMenu()">
        <ion-icon slot="icon-only" name="menu"></ion-icon>
      </ion-button-->

      <ion-menu-button color="tertiary" menu="primerMenu"></ion-menu-button>
    </ion-buttons>

    <ion-title>Componentes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item [routerLink]="componente.redirectTo" detail *ngFor="let componente of componentes">
      <ion-icon slot="start" [name]="componente.icon"></ion-icon>
      <ion-label>
        {{componente.name}}
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-button routerLink="/alert">Alert</ion-button>
  <ion-button routerLink="/action-sheet">Action Sheet</ion-button>

</ion-content>
