<app-header titulo="Cards"></app-header>

<ion-content class="ion-padding">

  <ion-card mode="ios" color="primary">
    <ion-card-header>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      <ion-card-title>Card Title</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item color="primary">
      <ion-icon slot="start" name="pin" color="light"></ion-icon>
      <ion-label>
        Marcador
      </ion-label>
    </ion-item>

    <ion-card-content>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Totam reprehenderit est ad molestiae odit unde at corporis consectetur dolores! Rerum laboriosam pariatur voluptatem impedit libero earum, accusantium corrupti exercitationem in?
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-img src="/assets/shapes.svg"></ion-img>
    <ion-card-content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia at eius beatae optio animi iste consequuntur quos officia, obcaecati temporibus assumenda nisi, dicta facere asperiores, possimus nostrum placeat consequatur itaque.
    </ion-card-content>
  </ion-card>

</ion-content>
