<ion-menu side="start" menuId="primerMenu" contentId="principal">
  <ion-header>
    <ion-toolbar color="tertiary">
      <ion-title>Menu principal</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>

      <ion-menu-toggle *ngFor="let option of menuOptions | async">
        <ion-item [routerLink]="option.redirectTo">
          <ion-icon slot="start" [name]="option.icon"></ion-icon>
          <ion-label>{{option.name}}</ion-label>
        </ion-item>
      </ion-menu-toggle>
      
    </ion-list>
  </ion-content>
</ion-menu>